{% extends '.layout.njk' %}
{% from "dist/govuk/components/button/macro.njk" import govukButton %}
{% from "dist/govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "dist/govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "dist/govuk/components/input/macro.njk" import govukInput %}
{% from "dist/govuk/components/inset-text/macro.njk" import govukInsetText %}
{% block pageTitle %}
  {{ siteTitle }} - Start
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <title>Check if you can apply for an Adult Cattle Housing Grant</title>
      <div class="govuk-body">
        <h1 class="govuk-heading-xl">Check if you can apply for an Adult Cattle Housing Grant</h1>
        <p>Use this service to check:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>if you are eligible to apply for a grant for your project (takes about 5 minutes)</li>
          <li>how well your project scores against the funding priorities (takes about 15 minutes if you have all the project details)</li>
        </ul>
        <h2 class="govuk-heading-m">Who can apply</h2>
        <p class="govuk-body">You can apply if you either:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>are a grower or producer of agricultural or horticultural produce</li>
          <li>are a business processing agricultural or horticultural products that is at least 50% owned by agricultural or horticultural producers</li>
          <li>produce wild vension products as part of woodland management</li>
        </ul>

        <p>You must do the grant-funded work in England.</p>

        <p>You can apply for up to {{ grantPercentage }}% of the estimated cost of project items. You have the option to apply for up to 25% of the estimated cost of buying and installing a solar PV system.</p>
        <p>The minimum grant for project items is £{{ minGrant }} ({{ grantPercentage }}% of £40,000). The maximum grant you can apply for, including solar, is £{{ maxGrant }}.</p>
        
        {{ govukInsetText({
          text: 'If your project is eligible, you will be able to submit your online application to the Rural Payments Agency (RPA).'
        }) }}

        {{ govukButton({
          classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
          href: button.nextLink,
          isStartButton: true,
          text: button.text
        }) }}
      </div>
      <h2 class="govuk-heading-m">Before you start</h2>

      <p class="govuk-body">To use the checker, you need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>information about your business (for example, number of employees, turnover)</li>
        <li>information about the project (for example, the types of products being processed and how you will add value, the impact the project will have)</li>
        <li>a list of the items you'd like to buy for the project</li>
        <li>an estimate of the total cost of the items</li>
      </ul>
    
      <h2 class="govuk-heading-m">Problems using the online service</h2>
      <p class="govuk-body">If you have any problems using the online service, contact the RPA.</p>

      <br><h3 class="govuk-heading-s">Telephone</h3>
      <ul class="govuk-list">
      <li>Telephone: 0300 0200 301</li>
      <li>Monday to Friday, 9am to 5pm (except public holidays)</li>
      </ul>
      <p class="govuk-body"><a class="govuk-link" target="_blank" rel="noopener noreferrer" href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
      <h3 class="govuk-heading-s">Email</h3>
      <p class="govuk-body"><a class="govuk-link" title="Send email to RPA" href="mailto:FTF@rpa.gov.uk">FTF@rpa.gov.uk</a></p>
    </div>
  </div>
{% endblock %}